:root {
  --main: white;
  --correct: #30cf94;
  --incorrect: #de2139;
  --button: gray;
  --text: black;
  --hover: rgba(104, 33, 222, 0.5);
}

body {
  margin: 0px;
  font-family: Cardo;
  color: var(--text);
}

.header-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: dashed;
}

h1 {
  color: var(--text);
  text-align: center;
  font-family: Montserrat;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--correct);
  text-transform: uppercase;
}

#timer {
  font-weight: bolder;
}

#intro-section {
  text-align: center;
}

#start-quiz-btn {
  background-color: var(--main);
  color: var(--text);
  font-family: Montserrat;
  text-decoration: none;
  font-size: 20px;
  border: 0px;
}

#start-quiz-btn:hover {
  background-color: var(--correct);
  color: var(--main);
}

#question-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#question-card button {
  text-align: center;
  background-color: var(--button);
  justify-content: center;
  color: var(--text);
  font-family: Montserrat;
  font-size: 16px;
  border: 5px;
  border-color: black;
  margin: 10px;
  margin-left: 50%;
  transform: translate(-50%);
  padding: 10px;
  width: 25%;
}

#question-card button:hover {
  background-color: var(--hover);
  color: var(--text);
}

#end-game {
  text-align: center;
}

#submit-btn {
  background-color: var(--button);
  color: var(--text);
  display: flex;
  font-family: Montserrat;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border: 0px;
  margin-left: 50%;
  transform: translate(-50%);
  padding: 10px;
}

#submit-btn:hover {
  background-color: var(--hover);
}

#player-name {
  color: var(--text);
  font-family: Montserrat;
  text-align: center;
  border: 3px var(--correct) solid;
  border-radius: 5px;
}

#game-over {
  border: 1px solid green;
}

#high-scores-h1 {
  color: var(--text);
  text-align: center;
  font-family: Montserrat;
  text-decoration: underline;
}

h2 {
  color: var(--text);
  text-align: center;
  font-family: Montserrat;
}

#list-item {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}
