.header-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px black solid;
}

#timer {
  border: 1px purple solid;
}

#intro-section {
  border: 1px red solid;
}

#start-quiz-btn {
  border: solid blue 1px;
}

#question-card {
  border: solid magenta 1px;
  display: flexbox;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#question-card button {
  display: block;
}

#game-over {
  border: 1px solid green;
}
