:root {
  --main: white;
  --correct: #30cf94;
  --incorrect: #de2139;
  --text: black;
}

body {
  margin: 0px;
  font-family: Cardo;
  color: var(--text);
}

.header-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: dashed;
}

h1 {
  color: var(--text);
  text-align: center;
  font-family: Montserrat;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--correct);
  text-transform: uppercase;
}

#timer {
  font-weight: bolder;
}

#intro-section {
  text-align: center;
}

#start-quiz-btn {
  background-color: var(--main);
  color: var(--text);
  font-family: Montserrat;
  text-decoration: none;
  font-size: 20px;
  border: 0px;
}

#start-quiz-btn:hover {
  background-color: var(--correct);
  color: var(--main);
}

#question-card {
  border: solid magenta 1px;
  display: flexbox;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#question-card button {
  display: block;
}

#end-game {
  border: chartreuse 1px solid;
}

#game-over {
  border: 1px solid green;
}
